.container {
  max-width: 825px;
  width: 95%;
  margin: 0 auto;
}

 

.header {
  background-color: #383838;
  color: white;
  width: 100%;
  padding: 16px 0 16px 30px;
  border-radius: 19px 19px 0 0;
  font-family: "Noto Sans Mono", monospace;
  font-size: 24px;
 }

.skill-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
}

@media (max-width: 800px) {
  .skill-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
}

.project-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.border-bottom {
  padding-top: 30px;
  padding-bottom: 50px;
  border-color: #383838;
  border-style: solid;
  border-width: 0 0 1px 0;
  margin: 0 5px;
}

.arrow-icon {
  color: white;
  border-style: solid;
  border-radius: 50%;
  border-color: #383838;
  background-color: #383838;
  border-width: 3px;
  font-size: 30px;
  position: fixed;
  right: 1%;
  bottom: 2%;
  z-index: 5;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -o-animation: fadein 1s;
  -ms-animation: fadein 1s;
}

.arrow-icon:hover {
  cursor: pointer;
}

.bottom-border {
  background-color: #383838;
  width: auto;
  padding-top: 20px;
  border-radius: 0 0 19px 19px;
  margin-top: 20px;
  margin-bottom: 20px;
}
