.project {
  padding-top: 20px;
}

.img-project {
  position: relative;
  margin: 0 auto;
  width: 820px;
  padding-top: 20px;
}

@media (max-width: 800px) {
  .img-project {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .description-project {
    padding: 0 20px 20px 20px;
  }
}

.description-project {
  padding: 0 5px;
}

.description-project > span,
.border-bottom > span {
  line-height: 1.6;
}
