@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap");

body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin-top: 5px;
  font-family: "Raleway", sans-serif;
  color: #383838;
}

.noto {
  font-family: "Noto Sans Mono", monospace;
}

.b {
  font-weight: 600;
}

.pt-10 {
  padding-top: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

a {
  color: #383838;
  transition: 0.3s;
}

a:hover {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.f21 {
  font-size: 21px;
}
