@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap");

body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin-top: 5px;
  font-family: "Raleway", sans-serif;
  color: #383838;
}

.noto {
  font-family: "Noto Sans Mono", monospace;
}

.b {
  font-weight: 600;
}

.pt-10 {
  padding-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.container {
  max-width: 825px;

  width: 97%;
  margin: 0 auto;
}

.header {
  background-color: #383838;
  color: white;
  width: 100%;
  padding: 1px 0 1px 0;
  border-radius: 19px 19px 0 0;
  font-family: "Noto Sans Mono", monospace;
  font-size: 24px;
}

.header > * {
  padding-left: 30px;
}

.profileContent {
  margin-top: 5px;
  padding: 20px 20px 20px 0;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  width: 98%;
  position: relative;
  border-color: #383838;
  border-style: solid;
  border-width: 0 0 1px 0;
}

@media (max-width: 800px) {
  .profileContent {
    margin-top: 5px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
    position: relative;
    border-color: #383838;
    border-style: solid;
    border-width: 0 0 1px 0;
  }
}

.name {
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  font-family: "Noto Sans Mono", monospace;
}

.profileContent > * {
  padding-left: 30px;
}

.iconText {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.iconText > p {
  padding-left: 5px;
}

a {
  color: #383838;
  transition: 0.3s;
}

a:hover {
  cursor: pointer;
  color: black;
}

.image {
  width: 132px;
  height: auto;
  border-radius: 10px;
}

.info * {
  font-size: 13px;
}

.info {
  position: relative;
  width: 100%;
}

.projectContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project {
  padding-top: 20px;
}

.imageProject {
  position: relative;
  margin: 0 auto;
  width: 820px;
  padding-top: 20px;
}

@media (max-width: 800px) {
  .imageProject {
    position: relative;
    width: 325px;
    padding-left: 20px;
  }
}

@media (max-width: 800px) {
  .desProj {
    padding: 0 20px 20px 20px;
  }
}

.myskill {
  padding-top: 30px;
  padding-bottom: 50px;
  border-color: #383838;
  border-style: solid;
  border-width: 0 0 1px 0;
}

.desProj {
  margin-top: -2px;
}

.desProj > span {
  line-height: 1.6;
}

.f21 {
  font-size: 21px;
}

@media (max-width: 800px) {
  .plr-20 {
    padding-left: 20px;
  }
}

.skillContainer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
}

@media (max-width: 800px) {
  .skillContainer {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }
}

.logoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-color: #e6e8eb;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  border-radius: 20px;
  height: 125px;
  margin: 10px;
  border-width: 1px;
}

.logoCard > div:last-child {
  padding-top: 6px;
  margin-bottom: -5px;
}

.logo {
  width: auto;
  height: 75px;
}

.bottomBorder {
  background-color: #383838;

  width: 100%;
  padding-top: 20px;
  border-radius: 0 0 19px 19px;
  margin-top: 20px;
  margin-bottom: 20px;
}
